@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*
Pallete:
092532
89c9b8
c7e2b2
e1ffc2
*/
:root {
    --color-back: #c7e2b2;
    --color-front: #092532;
    --background: #092532;
    --color-second: #89c9b8;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
}

#button-bottom-div {
    display: none;
    position: fixed;
    bottom: 0;
}

#canvas-div {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 210px);
    height: calc(100vh - 60px);
    top: 60px;
    display: block;
    margin: 0;
    z-index: -1;
}

#info-div {
    position: fixed;
    top: 60px;
    right: 0;
    margin: 0;
    width: 150px;
    height: calc(100vh - 60px);
    list-style: none;
    background-color: var(--color-back);
    color: var(--color-front);
    padding: 30px;
    padding-top: 0;
    z-index: 1;
    border-left: 5px inset var(--color-back);
}

table {
    box-shadow: 5px 5px 5px 0 black;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.6);
}
th , td {
    padding: 3px;
}
td {
    text-align: center;
}

h4 {
    margin-bottom: 5px;
}

#button-div {
    position: fixed;
    background-color: var(--color-back);
    width: 100vw;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 10px;
    border-bottom: 5px outset var(--color-back);
}

#button-div button, #button-div a {
    padding: 10px;
    background-color: var(--color-front);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: var(--color-back);
    cursor: pointer;
    border: 1px solid var(--color-back);
    box-shadow: 2px 2px 5px 1px var(--color-front);
}
#button-div button:active, #button-div a:active {
    box-shadow: 0 0 5px 0 var(--color-front);
    border: 1px solid var(--color-back);
    outline: none;
}
#button-div button:focus, #button-div a:focus {
    outline: none;
}

.big-screen-anchor{
    display: inline-block;
}
.small-screen-anchor{
    display: none;
}

#personal-div {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    color: var(--color-back);
}
#personal-div a {
    text-decoration: none;
    color: var(--color-second);
}

@media only screen and (max-width: 600px) {
    #button-div {
        font-size: 12px;
    }
    #info-div {
        display: none;
    }
    #canvas-div {
        width: 100vw;
        height: calc(100vh - 160px);
    }
    #bottom-button-div {
        display: block;
        position: fixed;
        height: 80px;
        width: 100vw;
        background-color: var(--color-back);
        bottom: 0;
        padding: 10px;
        border-top: 5px inset var(--color-back);
    }
    #bottom-button-div button {
        display: inline-block;
        margin: 5px;
        background-color: var(--color-front);
        color: var(--color-back);
        padding: 8px;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid var(--color-back);
        box-shadow: 2px 2px 5px 1px var(--color-front);
    }
    .big-screen-anchor{
        display: none;
    }
    .small-screen-anchor{
        display: inline-block;
    }

    #personal-div {
        bottom: 100px;
        font-size: 10px;
    }
}