@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*
Pallete:
092532
89c9b8
c7e2b2
e1ffc2
*/
:root {
    --color-front: #23374d;
    --color-back: #959595;
    --background: #ff0000;
    --color-second: #f7565a;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background-color: #111111;
}

canvas {
    background-attachment: fixed;
    background-color: #111111;
    /* background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  #555555aa 0.3%, #111111 99.2% ); */
    background-image: linear-gradient( 45deg,  #555555aa 0.3%, #111111 99.8% );
}

#bottom-button-div {
    display: none;
    position: fixed;
    bottom: 0;
}

#canvas-div {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 210px);
    height: calc(100vh - 60px);
    top: 60px;
    display: block;
    margin: 0;
    z-index: -1;
}

#info-div {
    position: fixed;
    top: 60px;
    right: 0;
    margin: 0;
    width: 150px;
    height: calc(100vh - 60px);
    list-style: none;
    background-color: var(--color-back);
    color: var(--color-front);
    padding: 30px;
    padding-top: 0;
    z-index: 1;
    border-left: 5px inset var(--color-back);
    text-align: left;
}

.text-center{
    width: 100%;
    text-align: center;
}

#info-div label{
    display: inline-block;
    margin-top: 20px;
    font-size: 10px;
    color: white;
}

table {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-collapse: collapse;
}

th.left, td.left {
    border-left: none;
}
th.right, td.right {
    border-right: none;
}
table {
    border: none;
    border-radius: 10px;
}
th , td {
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 3px;
}
td {
    text-align: center;
}
th {
    border-top: none;
    background-color: var(--color-front);
    color: var(--color-back);
}
th.left {
    border-radius: 10px 0 0 0;   
}
th.right{
    border-radius: 0 10px 0 0;
}
th.last, td.last {
    border-bottom: none;
}

h4 {
    margin-top: 0;
    margin-bottom: 5px;
    text-decoration: underline;
}

h4.small-not-visible {
    margin-top: 20px;
}

/* Tables and radio */
#radio-3 {
    margin-bottom: 20px;
}

#table-2{
    display: none;
}
#table-3 {
    display: none;
}

.radio-labels {
    margin-top: 0!important;
}

#radio-1:checked ~ #table-1{
    display: block;
}
#radio-2:checked ~ #table-1{
    display: none;
}
#radio-2:checked ~ #table-2{
    display: block;
}
#radio-3:checked ~ #table-1{
    display: none;
}
#radio-3:checked ~ #table-3{
    display: block;
}

#button-div {
    position: fixed;
    background-color: var(--color-back);
    width: 100vw;
    height: 40px;
    top: 0;
    left: 0;
    z-index: 0;
    padding: 10px;
    border-bottom: 5px outset var(--color-back);
}

#button-div button, #button-div a {
    padding: 10px;
    background-color: var(--color-front);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: var(--color-back);
    cursor: pointer;
    border: 1px solid var(--color-back);
    box-shadow: 2px 2px 5px 1px var(--color-front);
    border-radius: 10px;
    margin-right: 2px;
}
#button-div button:active, #button-div a:active {
    box-shadow: 0 0 5px 0 var(--color-front);
    border: 1px solid var(--color-back);
    outline: none;
}
#button-div button:focus, #button-div a:focus {
    outline: none;
}

.big-screen-anchor{
    display: inline-block;
}
.small-screen-anchor{
    display: none;
}

#personal-div {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 20px;
    color: var(--color-back);
}
#personal-div a {
    text-decoration: none;
    color: var(--color-second);
}

@media only screen and (max-width: 600px) {
    #button-div {
        font-size: 12px;
    }
    #info-div {
        display: none;
    }
    #canvas-div {
        width: 100vw;
        height: calc(100vh - 160px);
    }
    #bottom-button-div {
        display: block;
        position: fixed;
        height: 80px;
        width: 100vw;
        background-color: var(--color-back);
        bottom: 0;
        padding: 10px;
        border-top: 5px inset var(--color-back);
    }
    #bottom-button-div button {
        display: inline-block;
        margin: 5px;
        background-color: var(--color-front);
        color: var(--color-back);
        padding: 8px;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid var(--color-back);
        box-shadow: 2px 2px 5px 1px var(--color-front);
    }
    .big-screen-anchor{
        display: none;
    }
    .small-screen-anchor{
        display: inline-block;
    }

    #personal-div {
        bottom: 100px;
        font-size: 10px;
    }
}

@media only screen and (max-height: 700px) {
    .small-not-visible{
        display: none;
    }
}